.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
