.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  border: thin solid black;
  width: 80%;
}

.entry {
  display: flex;
  width: 100%;
  border: thin solid black;
  justify-content: space-between;


}

.data {
  /*width: 33%;*/
  border: thin solid black;
}

.emotion-div {
  width: 25%;
}

.comment-div {
  max-width: 50%;
  width: 50%;
}

.time-div {
  width: 25%;
}

div > p {
  /*border: thin solid black;*/
  padding: 10px 0;
  width: 95%;
  margin: 10px;
}


/*<div className="row entry" key={id}>
  <div className="emotion-div"><p>Emotion: {emotion}</p></div>
  <div className="comment-div"><p>Comment: {comment}</p></div>
  <div className="time-div"><p>Time of Event: {timeOfEvent}</p></div>
</div>*/
